input,label {
    padding:10px;
    box-sizing:border-box;
}
form {
    display: block;
  background: #5B3C67;
  padding: 51px;
  color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
